@model string;

@{
    ViewData["Title"] = "Privacy Policy";
}

<a href="https://localhost:44396/home/login" >Redirect to SSO Test</a>
<a href="https://localhost:44360/home/login" >Redirect to OKTA SAML APP</a>

<a class="btn-primary" asp-controller="Home" asp-action="Logout">Logout</a>
