@model string

@{
    ViewData["Title"] = "Home Page";
}

<form method="post" asp-action="Login" asp-controller="Home">
    <div class="text-center">
        <h1 class="display-4">Welcome</h1>
        <button type="submit">Login</button>
    </div>
</form>

<h1>@Model</h1>
