@model string;

@{
    ViewData["Title"] = "Privacy Policy";
}


<a href="https://localhost:44383/home/login" >Redirect to WEB APPLICATION 2</a>
<p>Use this page to detail your site's privacy policy.</p>

@*<a class="btn-primary" asp-controller="Home" asp-action="Logout">Logout</a>*@
@*<a class="btn-primary" href="https://login.microsoftonline.com/03888999-8fd6-4654-a44d-199abe04e730/saml2">Logout 2</a>*@