@model string;

@{
    ViewData["Title"] = "Privacy Policy";
}
<h1>@Model</h1>
<a asp-action="RedirectToWebApp2" asp-controller="Home" >WEB APPLICATION 2</a>
<p>Use this page to detail your site's privacy policy.</p>
